
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<h1>Welcome to the World of Mystery at Echo Books!</h1>
<img id="indexImg" src="~/Content/indexImage.png" alt="Welcome to EchoBooks"/>

<div>@Html.Partial("_PartialNewAuthorList")</div>


