
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<div class="container-fluid">
        <h1>Welcome to the World of Mystery at Echo Books!</h1>

        <div class="row">
            <div class="col-sm-7"><img id="indexImg" class="img-rounded" src="~/Content/indexImage.png" alt="Welcome to EchoBooks"/></div>
            <div class="col-sm-5">@Html.Action("PartialNewAuthorList", "Home")</div>
        </div>
    </div>


