body {
    background-attachment: fixed;
    background-image: url('seamless_paper_texture.png');
}
#searchResultListItem{
    background-color: lightsteelblue;
    min-height:450px;
    width: 95%;    
    border-radius: 3px;
}
