#navBar{

}
#menuLinks{

}
body {
    background-attachment: fixed;
    background-image: url('seamless_paper_texture.png');
}
.mainDiv{
    background-color: lightsteelblue;
    min-height:450px;
    width: 85%;   
    border-radius: 5px;
    text-align:center;
    margin:auto;
}

h2{
    
}
#red{
    color:red;
}
h3{
    
}
p{
    
}
.blockForList{
    display:block;
   
}
.searchResultCoverImage{
    display: inline-block;
    width:100px;
    background-color: white;
    border-radius: 3px;
    margin-right: 1%;
}
.searchResultListItem{
   display: inline-block;
    border: 2px double black;
    border-collapse:collapse;
    border-radius: 3px;       
    width:100px;

}
li{
     list-style-type:none;
}
.detailImg{
    display:inline-block;
}
.detailDiv{
    display:inline-block;
}
.detailTitle{

}
.detailAuthor{

}
.detailTagLine{

}
.detailDescription{

}


