#navBar{
    background-color:#e77137;
    padding-left:2%;
    padding-right:2%;
    padding-top:1%;
}
header{
    display:block;
    background-color:#53abd0;
}
#logo{
    display:inline-block;
    width:50%;
    height:auto;
}
#echoBooks{
    display:inline-block;
    color: #00568c;
    font:bold 900 Trebuchet, sans-serif;
}

#footer{
    background-color:#e77137;
    margin-top: 1.5%;
}
#indexImg{
    margin:auto;
    width:40%;
    height:auto;
}
#menuLinks{
    color:#00568c;
}
body {
    background-attachment: fixed;
    background-image: url('6333984637_7d08596f9e_b.jpg');
}
.mainDiv {
    background-image: url('seamless_paper_texture.png');
    opacity:0.98;
    min-height: 600px;
    width: 90%;
    border-radius: 5px;
    text-align: center;
    margin: auto;
}

h2{
    padding-top:1%;
}
#red{
    color:red;
}
h3{
    
}
p{
    
}
.blockForList{
    display:block;
    width:100%;
   
}
.searchResultCoverImage{
    display: inline-block;
    width:10%;
    background-color: green;
    border-radius: 3px;
    margin-right: 1%;
    margin-top:2%;
    vertical-align: top;
}
.searchResultListItem{
   display: inline-block;
   text-align:left;
    width:50%;
    vertical-align: top;
    margin-top:2.5%;
    margin-left:3%;


}
.title{

}
li{
     list-style-type:none;
}
#container{
    display:block;
    padding:4%;
}
.detailImg{
    display:inline-block;
    box-shadow:40px;
    width:25%;
    vertical-align:top;
    margin:3%;
    

}
.detailDiv{
    display:inline-block;
    width:40%;
    text-align:left;
    margin:3%;
    vertical-align:top;
    margin-top: 5%;
    
    
}
.detailTitle{
    font-weight:bold;
}
.detailAuthor{
    padding-top:2%;

}
.detailTagLine{
    padding-top:2%;
}
.detailDescription{
    padding-top:1%;

}
.newBookField{
    margin-right: 17%;
    text-align: right;
    padding-top: 1%;

}
#newBookHeader{
    padding-top:5%;
}
