@model List<Capstone.Web.Models.ThreadModel>
@{
    ViewBag.Title = "ViewThreads";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Echo Books Forum</h2>

@for (int i = 0; i < Model.Count; i++)
{
    <div class="eachThread">
        @Html.ActionLink(Model[i].ThreadName, "ViewPosts", "Forum", new { threadID = Model[i].ThreadID }, null)

        <div class="threadUser">
            <p><span class="italic">posted by:</span>@Model[i].UserID <span class="italic">on</span>@Model[i].ThreadDate</p>
        </div>
    </div>
}
