@model Capstone.Web.Models.SearchResultModel

@{
    ViewBag.Title = "SearchResults";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search Results</h2>

@if(Model.Results.Count < 1)
{
    <h3>No results found!</h3>
}
@foreach (var item in Model.Results)
{<div class="blockForList">


        <img class="searchResultCoverImage" src="@item.ImageLink" alt="Picture of Cover" />

        <div class="searchResultListItem">


            <h3 class="title">Title: @Html.ActionLink(@item.Title, "BookDetail", "Book", new { bookID = item.BookID }, null)<br /></h3>
            <h3>Author: @item.Author</h3>

        </div>
    </div>
}



