@model Capstone.Web.Models.SearchResultModel

@{
    ViewBag.Title = "SearchResults";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @foreach (var item in Model.Results)
    {
        <div id="searchResultListItem">
            <ul>
                <li>@item.Title</li>
                <li>@item.Author</li>
                <li>@item.Genre</li>
                <li>@item.Setting</li>

            </ul>

        </div>
    }

</div>




