@model Capstone.Web.Models.SearchResultModel

@{
    ViewBag.Title = "SearchResults";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @foreach (var item in Model.Results)
    {
        <div id="searchResultListItem">
            <img src="@item.ImageLink" alt="Picture of Cover" />
            <ul>

                <li>@Html.ActionLink(@item.Title, "BookDetail", "Book", new { bookID = item.BookID }, null)</li>
                <li>@item.Author</li>



            </ul>

        </div>
    }

</div>




