@model Capstone.Web.Models.BookModel
@{
    ViewBag.Title = "ThankYou";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thank You For Your Submission!</h2>

<button onclick="window.location.href='/Book/AddNewBook'"> Add Another Book </button>
<button onclick="window.location.href='/Book/SubmitBookReview'">Add Another Review</button>

