@model Capstone.Web.Models.BookModel
@{
    ViewBag.Title = "ThankYou";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div><img id="thanksImg" src="~/Content/Thank you.png" alt="Thank you for your submission" /></div>

<div><button onclick="window.location.href='/Book/AddNewBook'"> Add A Book </button></div>


