
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
</head>
<body>
    <header></header>
    <nav>
        
       
        <ul>
            <li>@Html.ActionLink("Home", </li>


        </ul>
       
    </nav>

    <div> 
        @RenderBody()
    </div>
</body>
</html>
