
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/styles.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header></header>
    <nav>
        
        @Html.Partial("_PartialSearchView", new Capstone.Web.Models.SearchResultModel())
        <ul>
            @*<li>@Html.ActionLink("Home", </li>*@


        </ul>
       
    </nav>

    <div>
        

            @RenderBody()
       
    </div>
</body>
</html>
