@model Capstone.Web.Models.SearchResultModel
@using (Html.BeginForm("SearchResults", "Book", FormMethod.Get))
{

    @Html.DropDownListFor(m => m.SearchType, (IEnumerable<SelectListItem>)Model.SearchCriteriaOptions, new { @class = "dropdown"})

    @Html.TextBoxFor(m => m.SearchValue)

    <button class="btn-warning">Search!</button>
}
