@model Capstone.Web.Models.ReviewModel

@if (Model.Review != null)
{
    <div id="reviewHeader">
        <h3 id="reviewHeadline">Review</h3>
    </div>
    <h4 id="reviewText">@Model.Review</h4>
}




