@model Capstone.Web.Models.PostResultsViewModel

<table class="table table-striped">
    @foreach (var post in Model.AllPostsInThread)
    {
        <tr class="eachPost">

            <td class="postBody">@post.PostBody</td>
            <td></td>
            <td></td>
            <td class="postUser"><span class="italic">posted by: </span>@post.Username<span class="italic"> on </span>@post.PostDate</td>
        </tr>
    }
</table>